@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #3a606e;
    --secondary-color: #607B7D;
    --accent1-color: #AAAE8E;
    --accent2-color: #E0E0E0;
    
    --heading-font: roboto, serif;
    --paragraph-font: roboto, serif;
    
    --nav-background-color: #3a606e;
    --nav-link-color: #607B7D;
    --nav-hover-link-color: #AAAE8E;
    --nav-hover-background-color: #E0E0E0;
}

h1 {
    position: absolute;
    top: 300px;
    left: 400px;
    color: #AAAE8E;
}

header {
    margin: 1rem auto;
    padding: 20px;
    grid-template-columns: 200px auto;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
    display: grid;
    width: 1000px;
    align-items: center;
}

header nav a {
    text-decoration: none;
}

img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

nav {
 text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    }

main {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    background-color: #d0d4d4;
}

article {
    text-align: left;
    position: absolute;
}



article img {
    float: right;
}

h2 {
text-align: center;
}

iframe {
   margin: 20px;
}

footer {
    margin: 1rem auto;
    grid-template-columns: 200px auto;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
    width: 1000px;
    align-items: center;
}

footer img {
    max-width: 50px;
    margin: 30px
}

footer p {
    text-align: center;
}

section img {
    margin: 0 10px;
}




/* Class Selectors */
.hero {
    position: relative;   
}

.hero p {
    color:#AAAE8E;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 400px;
    left: 45px;
}
.employee p {
    font-size: large;
}

.hero article img {  
    float: right;
    bottom: 8px;
    right: 18px;
    width: 200px;
}

.sociallinks nav {
    text-decoration: none;
}

.navigation {
    /* position: absolute; */
    left: 500px;
    display: flex;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    font-weight: 800;
    font-size: larger;
    flex: 1 1 100%;
    padding: 40px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

.right p {
    text-align: right;
}

.container {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    align-items: center;
    justify-content: space-between;
}

.container h2 {
    position: absolute;
    text-align: center;
    left: 23rem;
    top: 114rem;
}

.contact_img {
    display: flex;
    justify-content: center;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map p {
 padding: 20px;
 font-size: larger;
 font-weight: bold;
 margin: auto;
 text-align: left;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Form */
form {
    width: 650px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: rgba(174, 163, 163, 0.22);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .5rem;
    border: .5px solid rgba(142, 134, 134, 0.536);
    padding: 1rem;
}

label, input, button, select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

label {
    text-align: left;
    padding-left: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 2rem;
    background-color: rgb(95, 89, 87);
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

a.button {
    padding: 5px 6px;
    border: 5px outset buttonborder;
    border-radius: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
}