@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #3a606e;
    --secondary-color: #607B7D;
    --accent1-color: #AAAE8E;
    --accent2-color: #E0E0E0;
    
    --heading-font: roboto, serif;
    --paragraph-font: roboto, serif;
    
    --nav-background-color: #3a606e;
    --nav-link-color: #607B7D;
    --nav-hover-link-color: #AAAE8E;
    --nav-hover-background-color: #E0E0E0;
}

h1 {
    position: absolute;    
    color: steelblue;
}
header {
    padding: 20px;
    background-color: var(--accent2-color);
}

header nav a {
    text-decoration: none;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    }

main {
    max-width: 840px;
}

article {
    text-align: left;
    position: abosolute;
}

main img {
    float: right;
}

article img {
    float: right;
}

div h1 {
    position: absolute;
    top: 300px;
    left: 400px;
}

/* Class Selectors */
.hero div{
    position: relative;
    
}

.hero h1 {
    color: #AAAE8E;
}

.hero p {
    color:#AAAE8E;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article p {
    position: absolute;
    top: 400px;
    left: 45px;
}

.hero article img {
    float: right;
    bottom: 8px;
    right: 18px;
}

.sociallinks nav {
    text-decoration: none;
}


