@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
--primary-color: #3a606e;
--secondary-color: #607B7D;
--accent1-color: #AAAE8E;
--accent2-color: #E0E0E0;

--heading-font: roboto, serif;
--paragraph-font: roboto, serif;

--nav-background-color: #3a606e;
--nav-link-color: #607B7D;
--nav-hover-link-color: #AAAE8E;
--nav-hover-background-color: #E0E0E0;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--paragraph-font);
color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}